* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
}
:root {
  --color-green: hsl(75, 94%, 57%);
  --color-gray-700: hsl(0, 0%, 20%);
  --color-gray-800: hsl(0, 0%, 12%);
  --color-gray-900: hsl(0, 0%, 8%);
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-900);
}
.card {
  max-width: 20rem;
  width: 100%;
  padding-block-start: 2.5rem;
  padding-block-end: 1.25rem;
  padding-inline: 1.25rem;
  margin-inline: 0.625rem;
  background-color: var(--color-gray-800);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.625rem;
}
img {
  display: block;
  width: 70px;
  border-radius: 50%;
}
h2 {
  margin-block-start: 1rem;
  margin-block-end: 0.375rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}
h4 {
  color: var(--color-green);
  text-transform: capitalize;
  font-size: 0.75rem;
  margin-block-end: 1.25rem;
}
p {
  text-align: center;
  font-size: 0.75rem;
  margin-block-end: 1.25rem;
}
ul {
  width: 100%;
  list-style-type: none;
  text-align: center;
}
li {
  font-weight: 600;
  text-transform: capitalize;
  padding-block: 0.625rem;
  margin-block: 0.75rem;
  background-color: var(--color-gray-700);
  border-radius: 0.375rem;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}
li:hover {
  background-color: var(--color-green);
}
